* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
    --color-accent: #FFFFEB; /* Ivory */
    --color-primary1: #2B8EDF; /* Blue */
    --color-primary2: #604BA9; /* Purple */
    --color-primary3: #D42020; /* Red */
    --color-primary4: #31AF6C; /* Green */
}

.permanent-marker-regular {
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
}


.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h2 {
    font-family: "Permanent Marker", cursive;
    color: var(--color-accent);
    font-size: 2.5rem;
    text-align: left;
    margin-bottom: 1rem;
}

h3 {
    font-family: "Permanent Marker", cursive;
    font-size: 2.5rem;
    text-align: left;
    padding: 0px 0px 18px 23px;
}

.homepage h3 {
    color: var(--color-primary1);
}

.explorepage h3 {
    color: var(--color-primary2);
    text-align: center;
    margin-top: 30px;
}

.exhibitionspage h3 {
    color: var(--color-primary3);
    text-align: center;
    margin-top: 30px;
}

.visitpage h3 {
    color: var(--color-primary4);
    text-align: center;
    margin-top: 30px;
}

h4 {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    color: var(--color-accent);
    font-size: 20px;
    text-align: center;
    margin-bottom: 5px;
}

h5 {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    color: var(--color-accent);
    font-size: 1.6rem;
}

p {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    color: var(--color-accent);
    font-size: 1.2rem;
    text-align: left;
    padding: 0px 23px 18px 23px;
}

body {
    background-color: var(--color-accent);
    text-align: center;
}

header {
    text-align: center;
    height: 153px;
}

a {
    text-decoration: none;
    color: inherit;
}

.navbar {
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav-left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.nav-links {
    justify-content: flex-end;
    list-style: none;
    display: flex;
    gap: 136px;
    margin-left: 500px;
}

footer {
    padding: 23px;
    justify-content: space-between ;
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
}

.opening-hours,
.address {
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: flex-start;
    list-style-type: none;
}

.opening-hours h2,
.opening-hours h4,
.address h2,
.address h4 {
    text-align: left;
    align-self: flex-start;
}

.socials {
    display: flex;
    align-items: space-evenly;
    color: var(--color-accent)
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.homepage header,
.homepage footer {
    background-color: var(--color-primary1);
}

.explorepage header,
.explorepage footer {
    background-color: var(--color-primary2);
}

.exhibitionspage header,
.exhibitionspage footer {
    background-color: var(--color-primary3);
}

.visitpage header,
.visitpage footer {
    background-color: var(--color-primary4);
}

.banner {
    height: 392px;
    width: 100%;
    object-fit: cover;
    position: relative;
    margin-bottom: 18px;
}

.happening-now {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-left: 23px;
    margin-right: 23px;
}

.happening-item {
    position: relative;
    width: 410px;
    height: 350px;
    background-color: var(--color-accent);
    border: 3px solid var(--color-primary1);
    border-radius: 10px;
}

.happening-item img{
    display: block;
    width: 380px;
    height: 250px;;
    object-fit: cover;
    border-radius: 10px;
    margin: 13px;
}

.happening-item h4{
    position: absolute;
    margin-left: 13px;
    text-wrap: nowrap;
    color: var(--color-primary1)
}

.exhibitions {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-left: 23px;
    margin-right: 23px;
    margin-bottom: 20px;
}

.exhibitions-item {
    position: relative;
    width: 305px;
    height: 320px;
    background-color: var(--color-accent);
    border: 3px solid var(--color-primary1);
    border-radius: 10px;
}

.exhibitions-item img{
    display: block;
    width: 275px;
    height: 245px;;
    object-fit: cover;
    border-radius: 10px;
    margin: 13px;
}

.exhibitions-item h4{
    position: absolute;
    margin-left: 13px;
    text-wrap: nowrap;
    color: var(--color-primary1)
}

.explore-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px;
}

.explore-container img{
    height: 405px;
    width: 300px;
    object-fit: cover;
    border-radius: 10px;
}

.explore-background {
    height: 405px;
    width: 1050px;
    background-color: var(--color-accent);
    border: 3px solid var(--color-primary2);
    border-radius: 10px;
}

.explore-background h3{
    text-align: left;
}

.explore-container p {
    color: var(--color-primary2)
}

.exhibitions-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px;
}

.exhibitions-container img{
    height: 319px;
    width: 300px;
    object-fit: cover;
    border-radius: 10px;
}

.exhibitions-background {
    height: 319px;
    width: 1050px;
    background-color: var(--color-accent);
    border: 3px solid var(--color-primary3);
    border-radius: 10px;
}

.exhibitions-background h3{
    text-align: left;
}

.exhibitions-container p {
    color: var(--color-primary3)
}

.visit-us-key-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px;
}

.visit-us-background-1 {
    display: flex;
    flex-direction: column;
    height: 605px;
    width: 740px;
    background-color: var(--color-accent);
    border: 3px solid var(--color-primary4);
    border-radius: 10px;
}

.visit-us-background-1 img {
    height: 460px;
    width: 690px;
    object-fit: cover;
    border: 1px solid var(--color-primary4);
    margin: 23px;
    gap: 35px;
}

.visit-us-opening {
    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    gap: 35px;
}

.visit-us-background-2 {
    height: 285px;
    width: 540px;
    background-color: var(--color-accent);
    border: 3px solid var(--color-primary4);
    border-radius: 10px;
}


.visit-us-key-info h3 {
    text-align: left;
    margin-top: 10px;
}

.visit-us-key-info p {
    color: var(--color-primary4);
    line-height: 10px;
}

.visit-us-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 70px 50px 50px 50px;
}

.visit-us-background-3 h3 {
    text-align: left;
    margin-top: 10px;
}

.visit-us-background-3 p {
    text-align: left;
}

.visit-us-container p {
    color: var(--color-primary4);
    text-align: left;
}

.visit-us-background-3 {
    height: 200px;
    width: 650px;
    background-color: var(--color-accent);
    border: 3px solid var(--color-primary4);
    border-radius: 10px;
    margin: 23px;
}